.overlay .overlay-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
	overflow: hidden;
	border: none;
	background: url(/img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

.overlay .container {
  margin-top: 80px;
}

@media(min-width: $lg){
  .overlay .container {
    margin-top: 150px;
  }
}
.overlay-header {
  color:white;
}