$bg-primary: rgb(57, 62, 158);
$bg-light: #f0f1fa;

.bg-primary {
  background-color: $bg-primary!important;
}
.bg-light {
  background-color: $bg-light !important;
}
.red {
  color: red;
}

.white {
  color: white;
}

.bg-red {
  background-color: red;
}
.bg-white {
  background-color: white;
}