@import "lead-form/overlay";

.lead-input {
  border: 0;
  box-shadow: 0 0 0 1px #c4cdd5;
}

.lead-input:focus {
  color: black;
  outline: 0;
  box-shadow: 0 0 0 2px #393e9e;
}

@media (min-width: 1000px){
  .lead-input {
    min-width: 355px;
  }
}

.lead-submit {
  background-color: #393e9e;
  color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  line-height: 1.9;
}

.lead-submit:hover {
  box-shadow: 0 5px 25px 0 rgba(0,0,0,0.4);
  background-color: #393e9e;
}

.lead-submit:disabled {
  background-color: #777;
}

@media (min-width: 1000px) {
  .lead-submit {
    line-height: 1.75;
  }
}

.lead-explanation {
  color: #454f5b;
}
@media (min-width: 1000px) {
  .lead-explanation {
    font-size: 0.75em;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #212b35;
  z-index: 99;
  height: 100%;
  overflow: auto;
}
