.section--live-demo {
  // min-height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1400px auto;
  background-position: 35vw 40%;
  background-image: url('../img/bg-full.png');


  @media (min-width: 641px) and (max-width: 1024px) {
    background-position: center bottom;
  }

  @media (max-width: 640px) {
    background-position: center 80vh;
  }


  @media screen and (max-width: 1024px) {
    display: block;
    min-height: unset;
    padding-bottom: 3rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include gap(5rem);

    >*+* {
      @media screen and (max-width: 1024px) {
        margin-top: 10rem;
        margin-left: 0rem;
      }

      @media screen and (max-width: 860px) {
        margin-top: 5rem;
      }
    }

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-flow: column nowrap;
      gap: 0;
    }

    @media screen and (max-width: 640px) {
      padding: 0;
    }
  }

  .live-demo-mobile-container {
    display: none;

    @media screen and (max-width: 640px) {
      display: block;
      min-height: 70vh;
    }
  }

  .section-content {
    min-width: 600px;
    z-index: 0;

    @media screen and (max-width: 1024px) {
      max-width: 100%;
      min-width: unset;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: 640px) {
      display: block;
    }
  }

  .section-header {
    // position: relative;
    // z-index: 1;
    max-width: 50rem;

    @media screen and (max-width: 1024px) {
      text-align: center;
      max-width: 65rem;
    }

    @media screen and (max-width: 640px) {
      padding: 0 3rem;
    }
  }

  .section__title {
    @media screen and (max-width: 425px) {
      font-size: 4rem;
    }
  }

  .section__description {
    font-size: 3rem;
    margin: 3rem 0 5rem 0;
  }
}
