.demo-button {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  line-height: 3rem;
}

.card-header>.material-icons, span {
  vertical-align: middle;
}

.industry-img {
  margin: auto;
}

// #industries {
//   padding-top: 2rem;
//   padding-bottom: 1rem;
// }
// #nav-fp {
//   vertical-align: text-bottom;
//   padding-bottom: 2px;
//   font-size: 18px;
// }

// #main-logo {
//   font-size: 3rem;
// }

// @media (min-width: 320px) {
//   #main-logo {
//     font-size: 3.3rem;
//   }
// }

// @media (min-width: 360px) {
//   #main-logo {
//     font-size: 3.5rem;
//   }
// }

// @media (min-width: 400px) {
//   #main-logo {
//     font-size: 3.9rem;
//   }
// }
// @media (min-width: 760px) {
//   #main-logo {
//     font-size: 5.5rem;
//   }
// }

// #main-fp {
//   font-size: 36px;
// }

// @media (min-width: 320px) {
//   #main-fp {
//     font-size: 36px;
//   }
// }

// @media (min-width: 360px) {
//   #main-fp {
//     font-size: 44px;
//   }
// }

// @media (min-width: 400px) {
//   #main-fp {
//     font-size: 48px;
//   }
// }

// @media (min-width: 576px) {
//   #main-fp {
//     font-size: 48px;
//   }
// }

// @media (min-width: 768px) {
//   #main-fp {
//     font-size: 67px;
//   }
// }

// #accuracy {
//   font-size: 2rem;
//   padding-bottom: 2rem;
// }

// @media (min-width: 320px) {
//   #accuracy {
//     font-size: 1.3rem;
//   }
// }

// @media (min-width: 360px) {
//   #accuracy {
//     font-size: 1.5rem;
//   }
// }

// @media (min-width: 400px) {
//   #accuracy {
//     font-size: 1.7rem;
//   }
// }
// @media (min-width: 760px) {
//   #accuracy {
//     font-size: 2rem;
//   }
// }

// #fraud-header {
//   font-size: 2rem;
//   font-weight: bold;
// }

// @media (min-width: 320px) {
//   #fraud-header {
//     font-size: 1.7rem;
//   }
// }

// @media (min-width: 360px) {
//   #fraud-header {
//     font-size: 2rem;
//     margin-bottom: 1rem;
//   }
// }

// @media (min-width: 400px) {
//   #fraud-header {
//     font-size: 2.2rem;
//     margin-bottom: 1.4rem;
//   }
// }

// #challenges-header {
//   font-size: 2rem;
//   font-weight: bold;
// }

// @media (min-width: 320px) {
//   #challenges-header {
//     font-size: 1.6rem;
//   }
// }

// @media (min-width: 360px) {
//   #challenges-header {
//     font-size: 1.8rem;
//     margin-bottom: 1rem;
//   }
// }

// @media (min-width: 400px) {
//   #challenges-header {
//     font-size: 2rem;
//     margin-bottom: 1.4rem;
//   }
// }

// #challenges-container {
//   border-radius: 10px;
// }
// @media (min-width: 768px) {
//   #challenges-container {
//   border: 1px solid #dee2e6
//   }
// }

// #challenges-left {
//   padding-top: 1rem;
// }
// @media (min-width: 768px) {
//   #challenges-left {
//     padding: 2rem;
//   }
// }
// #challenges-right {
//   padding-top: 1rem;
// }
// @media (min-width: 768px) {
//   #challenges-right {
//     padding: 2rem;
//   }
// }

// .tile {
//   background-color: white;
//   padding-top: 1em;
//   padding-bottom: 1em;
// }

// .industry-img {
//   margin: auto;
// }

// .challenge-box {
//   border: 3px solid #555;
//   font-size: 2rem;
//   height: 4rem;
//   width: 4rem;
//   padding-top: 0.3rem;
// }

// .challenge-answer {
//   padding-left: 0.5rem;
//   font-size: 1.6rem;
//   font-weight: 900;
//   line-height: 1.2;
//   padding-bottom: 0.1rem;
// }
// @media (min-width: 768px) {
//   .challenge-answer {
//     padding-top: 1rem;
//     padding-left: 0;
//   }
// }
// .card-header>.material-icons, span {
//   vertical-align: middle;
// }