.index-header {
  font-weight: 900;
  margin-top: 3rem!important;
}

.industry-img {
  margin: auto;
}

@media (min-width: $lg) {
  .index-header {
    margin-top: 4.5rem!important;
  }
}

@media (min-width: $xl) {
  .index-header {
    margin-top: 8rem!important;
  }
}

.demo-button {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  line-height: 3rem;
}