<header class='header'>
  <div class='top-nav'>
    <div class='container container--large'>
      <nav class='nav nav--secondary'>
        <a href='/demo' class='nav__link'>
          Demo
        </a>
        <a href='/open-source' class='nav__link'>
          Open Source
        </a>
        <a href='/pricing' class='nav__link'>
          Pricing
        </a>
        <a href='https://docs.fingerprintjs.com/pro/' class='nav__link'>
          Documentation
        </a>
        <a href='mailto:support@fingerprintjs.com' class='nav__link'>
          Support
        </a>
        <a href='https://dashboard.fingerprintjs.com/login' class='nav__link'>
          Log In
        </a>
        <a href='https://dashboard.fingerprintjs.com/signup' class='nav__link'>
          Sign Up
        </a>
      </nav>
    </div>
  </div>
  <div class='main-nav'>
    <div class='container container--large'>
      <nav class='nav nav--main'>
        <div class='nav-left'>
          <a href='/' class='nav__link nav__link--logo'>
            <img src='/img/company-logos/fpjs.svg' class='nav__logo' />
          </a>
        </div>
        <div class='nav-right'>
          {{> sections/_github-button }}
          <a href='mailto:sales@fingerprintjs.com' class='btn btn--outlined'>
            Contact Sales
          </a>
          <a href='https://dashboard.fingerprintjs.com/signup' class='btn'>
            Free Trial
          </a>
          <button class='btn btn--clear btn--icon-only mobile-toggler'>
            <svg class='btn__icon'>
              <use xlink:href='#burger'></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
  <div class='mobile-nav'>
    <div class='container container--large'>
      <div class='top-links'>
        <a href='mailto:sales@fingerprintjs.com' class='btn btn--outlined'>
          Contact Sales
        </a>
        <a href='https://dashboard.fingerprintjs.com/signup' class='btn'>
          Free Trial
        </a>
      </div>
      <div class='main-links'>
        <div class='container container--large' style="padding: 0">
          <a href='/demo' class='nav__link'>
            Demo
          </a>
          <a href='/open-source' class='nav__link'>
            Open Source
          </a>
          <a href='/pricing' class='nav__link'>
            Pricing
          </a>
          <a href='https://docs.fingerprintjs.com/pro/' class='nav__link'>
            Documentation
          </a>
          <a href='mailto:support@fingerprintjs.com' class='nav__link'>
            Support
          </a>
          <a href='https://dashboard.fingerprintjs.com/login' class='nav__link'>
            Log In
          </a>
          <a href='https://dashboard.fingerprintjs.com/signup' class='nav__link'>
            Sign Up
          </a>
        </div>
      </div>
      <div class='contact-social'>
        {{> sections/_github-button }}
        <div class='social'>
          <small>
            Find us on social
          </small>
          <ul class='social-links'>
            <li class='social-links__link'>
              <a href='#0'>
                <svg>
                  <use xlink:href='#linkedin'></use>
                </svg>
              </a>
            </li>
            <li class='social-links__link'>
              <a href='#0'>
                <svg>
                  <use xlink:href='#twitter'></use>
                </svg>
              </a>
            </li>
            <li class='social-links__link'>
              <a href='#0'>
                <svg>
                  <use xlink:href='#medium'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>