.form {
  &--failed {
    --state-color: var(--error);
  }

  &--success {
    --state-color: var(--success);
  }

  &-state {
    --height: 6rem;
    height: v('height');
    background-color: v(white);
    border-radius: 1rem;
    border: solid 1px var(--state-color);
    display: none;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;

    &__icon {
      width: 2rem;
      height: 2rem;
      fill: v('state-color');
      margin-right: 1rem;
    }

    &__label {
      font-weight: v('semi');

      @media screen and (max-width: 760px) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 374px) {
        font-size: 1.5rem;
      }
    }
  }

  &--get-started {
    position: relative;

    @media screen and (max-width: 768px) {
      // max-width: 80vw;
      width: 100%;
    }

    .form-description {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // @include gap(2rem);
      font-size: 1.75rem;
      margin-top: 2rem;

      @media screen and (max-width: 1024px) {
        justify-content: center;
      }

      li {
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        opacity: v('faded');


        +li {
          margin-left: 2rem;
        }
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1rem;

        @media screen and (max-width: 425px) {
          margin-right: .5rem;
        }
      }
    }

    &.form--failed,
    &.form--success {
      .field {
        display: none;
      }
    }

    &.form--success {
      .form-state--success {
        display: flex;
      }
    }

    &.form--failed {
      .form-state--failed {
        display: flex;
      }
    }
    &.form--loading::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
      content: '';
    }
  }
}
