<section class="section section--developer-friendly">
    <div class="container container--large">
        <header class="section-header">
            <h2 class="section__title">Made for developers</h2>
            <div class="tools-integrations">
                <div class="tools-integrations-item">
                    <h3 class="tools-integrations-item__title">
                        &gt; Built on proven open-source library
                    </h3>
                    <p class="tools-integrations-item__description">      
                        Since 2012, FingerprintJS has been used to identify billions of users. Our Pro solution was developed based on feedback to provide unparalleled accuracy, ease of use, and security.
                    </p>
                </div>
                <div class="tools-integrations-item">
                    <h3 class="tools-integrations-item__title">
                        &gt; Use our Pro agent for serious accuracy
                    </h3>
                    <p class="tools-integrations-item__description">
                        Get to 99.5% identification accuracy with custom domains, CNAME integration, bot detection and additional identification methods beyond fingerprinting.
                    </p>
                </div>
            </div>
        </header>
        <div class="section-content">
            <div class="window">
                <div class="window-header">
                    <div class="window-header__btn window-header__btn--close"></div>
                    <div class="window-header__btn window-header__btn--minimize"></div>
                    <div class="window-header__btn window-header__btn--expand"></div>
                </div>
                <div class="window-content">{{> sections/_code_1 }}
                </div>
                {{!-- <div class="window-actions">
                    <button class="btn">Run Example</button>
                </div> --}}
            </div>
        </div>
    </div>
</section>