<section class="section section--developer-friendly">
    <div class="container container--large">
        <header class="section-header">
            <h2 class="section__title">Made for developers</h2>
            <div class="tools-integrations">
                <div class="tools-integrations-item">
                    <h3 class="tools-integrations-item__title">
                        &gt; Built on proven open-source browser agent
                    </h3>
                    <p class="tools-integrations-item__description">      
                        Written in TypeScript, provdes superior developer experience, type safety and fast performance.
                    </p>
                </div>
                <div class="tools-integrations-item">
                    <h3 class="tools-integrations-item__title">
                        &gt; Pro agent for serious accuracy
                    </h3>
                    <p class="tools-integrations-item__description">
                        Custom domains, CNAME integration, bot detection and more to get you the 99.5% accuracy
                    </p>
                </div>
            </div>
        </header>
        <div class="section-content">
            <div class="window">
                <div class="window-header">
                    <div class="window-header__btn window-header__btn--close"></div>
                    <div class="window-header__btn window-header__btn--minimize"></div>
                    <div class="window-header__btn window-header__btn--expand"></div>
                </div>
                <div class="window-content">{{> sections/_code_1 }}
                </div>
                {{!-- <div class="window-actions">
                    <button class="btn">Run Example</button>
                </div> --}}
            </div>
        </div>
    </div>
</section>