<section class="section section--flexible-api">
    <div class="container container--large">
        <header class="section-header">
            <h2 class="section__title">Server API & Webhooks</h2>
            <div class="tools-integrations">
                <div class="tools-integrations-item">
                    <div class="tools-integrations-item__icon-container">
                        <svg class="tools-integrations-item__icon">
                            <use xlink:href="#tools"></use>
                        </svg>
                    </div>
                    <h3 class="tools-integrations-item__title">
                        &gt; Server-side visitor history API
                    </h3>
                    <p class="tools-integrations-item__description">  
                        Access suspicious visitor activity, bot probability and geolocation at lightspeed.
                        Integrate our API into your server-side business rules or signup process.
                    </p>
                </div>
                <div class="tools-integrations-item">
                    <div class="tools-integrations-item__icon-container">
                        <svg class="tools-integrations-item__icon">
                            <use xlink:href="#integrations"></use>
                        </svg>
                    </div>
                    <h3 class="tools-integrations-item__title">
                        &gt; Webhooks for flexible workflows
                    </h3>
                    <p class="tools-integrations-item__description">
                       Receive instant notifications delivered securely to your backend systems, ideal for building scalable and asynchronous processes.
                    </p>
                </div>
            </div>
        </header>
        <div class="section-content">
            <div class="window">
                <div class="window-header">
                    <div class="window-header__btn window-header__btn--close"></div>
                    <div class="window-header__btn window-header__btn--minimize"></div>
                    <div class="window-header__btn window-header__btn--expand"></div>
                </div>
                <div class="window-content">{{> sections/_code_2 }}</div>
            </div>
            <div class="window">
                <div class="window-content">{{> sections/_code_3 }}</div>
            </div>
        </div>
    </div>
</section>