<section class='section section--live-demo'>
  <div class='container container--large'>
    <header class='section-header'>
        <h1 class='section__title'>
          Browser Fingerprinting API
        </h1>
        <p class='section__description'>
          Stop fraud, spam, and account takeovers with
          <em>
            99.5% accurate
          </em>
          browser fingerprinting as a service.
        </p>
        {{> sections/_get-started-form }}
    </header>
    <div class='section-content' style="position: relative;">
      <div class='fingerprint-live-demo-loader' id='fpjs_loader'></div>
      <div class='fingerprint-live-demo' id='fpjs_container'>
        <div class='fingerprint-live-demo-history'>
          <div class='fingerprint-live-demo__header'>
            Visit History
            <svg
              class='info'
              data-tippy-content='FingerprintJS Pro allows you to get a history of visits with all available information'
              tabindex='0'
            >
              <use xlink:href='#info'></use>
            </svg>
          </div>
          <div class='history'>
            <ul class='history-visits' id='fpjs_history'>
            </ul>
          </div>
        </div>
        <div class='fingerprint-live-demo-current-visit'>
          <div class='fingerprint-live-demo__header' id='fpjs_visit_title'></div>
          <div class='current-visit'>
            <div class='current-visit__id'>
              <span class='current-visit__label'>
                Your ID:
              </span>

              <span class='user-id' id='fpjs_visitor_id'></span>
              <svg
                class='info'
                data-tippy-content='Every visitor to your website is assigned a unique & permanent identifier.'
                tabindex='0'
              >
                <use xlink:href='#info'></use>
              </svg>
            </div>
            <div class='current-visit__bot'>
              <span class='current-visit__label'>
                Bot
              </span>

              <span class='user-bot' id='fpjs_bot'></span>
              <svg
                class='info'
                data-tippy-content='Every response will include the botProbability field that you can use to identify bot traffic.'
                tabindex='0'
              >
                <use xlink:href='#info'></use>
              </svg>
            </div>
            <div class='current-visit__ip'>
              <span class='current-visit__label'>
                IP
              </span>

              <span class='user-ip' id='fpjs_ip'></span>
            </div>
            <div class='current-visit__incognito'>
              <span class='current-visit__label'>
                Incognito
              </span>

              <span class='user-incognito' id='fpjs_incognito'></span>
              <svg
                class='info'
                data-tippy-content='FingerprintJS Pro analyzes every page view and detects if it was made in incognito mode.'
                tabindex='0'
              >
                <use xlink:href='#info'></use>
              </svg>
            </div>
            <div class='current-visit__browser'>
              <span class='current-visit__label'>
                Browser
              </span>
              <span class='user-browser' id='fpjs_browser'></span>
            </div>
            <div class='current-visit__location'>
              <span class='current-visit__label'>
                Location
              </span>
              <div class='user-location' id='fpjs_location'><img id='fpjs_location_img' /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="splide splide--live-demo">
        <div class="splide__track">
          <div class="splide__list" id='fpjs_widget_mobile'></div>
        </div>
      </div>
    </div>
  </div>
</section>