<section class='section section--pro-tools'>
  <div class='container'>
    <header class='section-header'>
      <h2 class='section__title'>
        FingerprintJS
        <br />
        <strong>
          Pro Tools
        </strong>
      </h2>
    </header>
    <div class='section-content swiper-container' id='swiper--pro-tools'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#browser_fingerprinting'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Browser Fingerprinting
          </h3>
          <p class='pro-tools-item__description'>
            Our fingerprinting approach is the most advanced in the market and employs many cutting-edge methods of browser identification.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#geolocation'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Geolocation
          </h3>
          <p class='pro-tools-item__description'>
            Every identification API request will provide the geolocation of the current visitor, including geoposition, city, country, timezone and ISP information.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#bot_detection'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Bot Detection
          </h3>
          <p class='pro-tools-item__description'>
            Our bot probability value will tell you the likelihood of a current visitor being a programmed headless agent to help identify bot traffic on your site.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#anonymous_user_identification'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Anonymous User Identification
          </h3>
          <p class='pro-tools-item__description'>
            Every visitor to your website is assigned a permanent visitorID that can be used to identify visitors trying to change their identity via proxies or other techniques.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#incognito_detection'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Incognito Mode Detection
          </h3>
          <p class='pro-tools-item__description'>
            FingerprintJS Pro tracks whether visitors are using incognito mode, and can accurately identify users across incognito browsing sessions.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#api_Webhooks'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            API & Webhooks
          </h3>
          <p class='pro-tools-item__description'>
            In addition to browser fingerprinting, FingerprintJS Pro's server-side API processes and analyzes vast amounts of data, searching for patterns and re-occurrences of fraudulent activity.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>