<section class='section section--pro-tools'>
  <div class='container'>
    <header class='section-header'>
      <h2 class='section__title'>
        FingerprintJS
        <br />
        <strong>
          Pro Tools
        </strong>
      </h2>
    </header>
    <div class='section-content swiper-container' id='swiper--pro-tools'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#browser_fingerprinting'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Browser Fingerprinting
          </h3>
          <p class='pro-tools-item__description'>
            FingerprintJS uses browser fingerprinting internally as one of the many identification techniques.
          </p>
          <p class='pro-tools-item__description'>
            The implementation of fingerprinting is the most advanced in the market and employs many cutting-edge methods of browser identification.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#geolocation'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Geolocation
          </h3>
          <p class='pro-tools-item__description'>
            Every identification request will provide the geolocation of the current visitor. 
          </p>
          <p class='pro-tools-item__description'>
            Get the geoposition, city, country, timezone, and ISP information directly in the API responses.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#bot_detection'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Bot Detection
          </h3>
          <p class='pro-tools-item__description'>
            Every response will include the botProbability field that you can use to identify bot traffic. 
          </p>
          <p class='pro-tools-item__description'>
            Bot probability value is a value between 0 and 1 which tells you the likelihood of current visitor being a programmed headless agent.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#anonymous_user_identification'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Anonymous User Identification
          </h3>
          <p class='pro-tools-item__description'>
            Every visitor to your website is assigned a permanent visitorID identifier. 
          </p>
          <p class='pro-tools-item__description'>
            The visitorID value is calculated with latest fingerprinting technology and machine learning algorithms to identify when people are trying to change their identity via proxies or other techniques.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#incognito_detection'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            Incognito Mode Detection
          </h3>
          <p class='pro-tools-item__description'>
            ingerprintJS Pro analyzes every page view and detects if it was made in incognito mode. 
          </p>
          <p class='pro-tools-item__description'>
            You will also be able to track users across incognito browsing sessions with the newest methods.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
        <div class='swiper-slide pro-tools-item'>
          <svg class='pro-tools-item__icon'>
            <use xlink:href='#api_Webhooks'></use>
          </svg>
          <h3 class='pro-tools-item__title'>
            API & Webhooks
          </h3>
          <p class='pro-tools-item__description'>
            Get user activity history, suspicious activity, bot probability and geolocation. 
          </p>
          <p class='pro-tools-item__description'>
            With webhooks you can receive instant notifications that are delivered securely directly to your backend systems.
          </p>
          {{!-- <a href='#0' class='pro-tools-item__link'>
            Learn More
          </a> --}}
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>