<section class='section section--trusted-by'>
  <div class='container'>
    <header class='section-header'>
      <h2 class='section__title'>
        <strong>
          FingerPrintJS
        </strong>
        is utilized from huge companies to
                innovative startups
      </h2>
    </header>
    <div class='section-content swiper-container' id='swiper--trusted-by'>
      <div class="swiper-wrapper">
        {{#each site.trusted_logos}}
          <div class='swiper-slide'>
            <img
              class='logo-bar__logo'
              src="img/company-logos/{{this}}.svg"
            />
          </div>
        {{/each}}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>